* {
	margin: 0;
	padding: 0;
}

.banner-text {
	width: 100%;
	position: absolute;
	z-index: 1;
}
.banner-text ul {
	height: 50px;
	float: right;
}
.banner-text img{
    display: inline-block;
    padding: 40px 15px;
}
.banner-text ul li {
	display: inline-block;
	padding: 40px 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
}
.banner-text ul a {
	display: inline-block;
	padding: 40px 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
    text-underline-offset: -100px;
}
.banner-text ul li:hover {
	cursor: pointer;
}

.banner-text h2 {
	text-align: center;
	color: #fff;
	font-size: 50px;
	margin-top: 20%;
}

.banner-text h6 {
	text-align: center;
	color: #fff;
	font-size:20px;
}



.about-me{
    background-color: #161b22;
    padding-bottom:250px;
}
.about-me h4{
    text-align: center;
	color: #fff;
	font-size:50px;
}
.about-me p{
    text-align: center;
	color: #fff;
	font-size:25px;
}
.about-me p a{
    color: #fff;
    font-size:25px;
    text-underline-offset: -10000px;
}
.about-me p img{
    size: 50px;
}
.about-me h5{
    text-align: center;
	color: #fff;
	font-size:35px;
}

/* what i do */

.what-i-do{
    background-color: #161b22;
    padding-bottom:250px;
}
.what-i-do h4{
    text-align: center;
	color: #fff;
	font-size:50px;
}
.what-i-do p{
    text-align: center;
	color: #fff;
	font-size:25px;
}
.what-i-do p a{
    color: #fff;
    font-size:25px;
    text-underline-offset: -10000px;
}

/* Projects */

.projects{
	background-color: #161b22;
	padding-bottom: 250px;
}
.projects h4{
	text-align: center;
	color:#fff;
	font-size: 50px;
}
.projects p{
	text-align: center;
	color: #fff;
	font-size: 25px;
}
.projects p a{
	color: #fff;
	font-size: 25px;
	text-underline-offset: -10000px;
}


/* socials */

.socials{
    background-color: #161b22;
	padding-bottom: 125px;
}
.socials h4{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.socials p{
    text-align: center;
    color:#fff;
    font-size: 25px;
}
.socials i{
    font-size: 50px;
	color:#fff;
}
.socials i.fab.fa-github{
	color: #fff;
	width:50px;
}
.socials section{
	text-align: center;
}

.footer-text{
	background-color: #161b22;
}
.footer-text a{
	color: #fff;
	text-underline-offset: -10000px;
}
.footer-text a.i{
	color: #fff;
	width:15px;
	max-height: 15px;
}